version: "3.8"
services:
  # Torrents
  deluge:
    container_name: deluge
    environment:
      - PGID=1000
      - PUID=1000
      - TZ=${TIME_ZONE}
    image: linuxserver/deluge
    ports:
      - "${DELUGEWEB_PORT}:8112"
      - "${DELUGE_PORT}:${DELUGE_PORT}"
    sysctls:
      # - net.core.default_qdisc=fq_codel
      # - net.ipv4.tcp_congestion_control=illinois
      # - net.core.rmem_default=87380
      # - net.core.rmem_max=16777216
      - net.ipv4.tcp_rmem=4096 87380 16777216
      # - net.core.wmem_default=65536
      # - net.core.wmem_max=16777216
      - net.ipv4.tcp_wmem=4096 65536 16777216
    volumes:
      - ${CONFIG_PATH}/deluge:/config
      - ${DATA_PATH}/.empty:/downloads
      - ${DATA_PATH}/torrents:/data/torrents

  # TV shows
  sonarr:
    container_name: sonarr
    environment:
      - TZ=${TIME_ZONE}
    image: hotio/sonarr:phantom
    ports:
      - "${SONARR_PORT}:8989"
    volumes:
      - ${CONFIG_PATH}/sonarr:/config
      - ${DATA_PATH}:/data

  # Movies
  radarr:
    container_name: radarr
    environment:
      - TZ=${TIME_ZONE}
    image: hotio/radarr:aphrodite
    ports:
      - "${RADARR_PORT}:7878"
    volumes:
      - ${CONFIG_PATH}/radarr:/config
      - ${DATA_PATH}:/data

  # Subtitles
  bazarr:
    container_name: bazarr
    environment:
      - TZ=${TIME_ZONE}
    image: hotio/bazarr:unstable-ffsubsync
    ports:
      - "${BAZARR_PORT}:6767"
    volumes:
      - ${CONFIG_PATH}/bazarr:/config
      - ${DATA_PATH}:/data

  # Plex Media Server
  plex:
    container_name: plex
    environment:
      - TZ=${TIME_ZONE}
      - PLEX_CLAIM=${PLEX_CLAIM}
      - PLEX_LOGIN=${PLEX_LOGIN}
      - PLEX_PASSWORD=${PLEX_PASSWORD}
    image: hotio/plex:autoscan
    ports:
      - "${PLEX_PORT}:${PLEX_PORT}"
      - 1900:1900/udp
      - 3005:3005
      - 5353:5353/udp
      - 8324:8324
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469
    volumes:
      - ${CONFIG_PATH}/plex:/config
      - ${DATA_PATH}/.empty:/transcode
      - ${DATA_PATH}/media:/data/media
